@model RoleEdit
@{
	ViewData["Title"] = "Editovat role";
}

<h1 class="text-white text-center">Editovat role</h1>
<div asp-validation-summary="All" class="custom-validation-summary"></div>
<div class="d-flex justify-content-center text-white">

	<form method="post" style="width:20rem">
		@* <a asp-action="Index" class="btn btn-secondary">Zpět</a> *@
		<input type="hidden" name="roleName" value="@Model.Role.Name" />
		<input type="hidden" name="roleId" value="@Model.Role.Id" />

		<h2 class=" p-1  ">Přidat do role @Model.Role.Name</h2>
		<table class="table  table-success table-striped">
			@if (Model.NonMembers.Count() == 0)
			{
				<tr><td colspan="2">Všichni jsou členové</td></tr>
			}
			else
			{
				@foreach (AppUser user in Model.NonMembers)
				{
					<tr>
						<td>@user.UserName</td>
						<td>
							<input type="checkbox" name="AddIds" value="@user.Id">
						</td>
					</tr>
				}
			}
		</table>

		<h2 class="  p-1  ">Odstranit z role @Model.Role.Name</h2>
		<table class="table  table-success table-striped">
			@if (Model.Members.Count() == 0)
			{
				<tr><td colspan="2">Žádní členové</td></tr>
			}
			else
			{
				@foreach (AppUser user in Model.Members)
				{
					<tr>
						<td>@user.UserName</td>
						<td>
							<input type="checkbox" name="DeleteIds" value="@user.Id">
						</td>
					</tr>
				}
			}
		</table>
		<button type="submit" class="btn btn-primary">Uložit</button>
	</form>
</div>