@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Zumba</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Zumba.styles.css" asp-append-version="true" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">

	<style>
		body {
			background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/zumba.png') no-repeat center center fixed;
			background-size: cover;
		}
	</style>

</head>
<body>

	<nav class="navbar navbar-expand-xl bg-white navbar-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">ZUMBA</a>
			@if (User?.Identity?.IsAuthenticated??false)
			{
				var httpContext = HttpContextAccessor.HttpContext;
				if (httpContext==null)
				{
					// Zpracujte případ, kdy je HttpContext null
					throw new InvalidOperationException("HttpContext is null");
				}
				var user = await UserManager.GetUserAsync(httpContext.User);
				var fullName = $"{user.FirstName} {user.LastName}";
				var credit = $"Kredit: {user.Credit}Kč ";

				<a class="nav-link text-dark d-xl-none btn btn-success me-1" asp-area="" asp-controller="Calendar" asp-action="Index">Rezervace</a>
				@* <a asp-controller="Credit" asp-action="Index" class="nav-link text-dark d-xl-none btn btn-warning">@credit</a> *@
				<div class="dropdown">
					<button class="nav-link d-xl-none btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						@credit
					</button>
					<ul class="dropdown-menu">
						<li><a asp-controller="Credit" asp-action="Index" class="dropdown-item">Dobít kredit</a></li>
						<li><a asp-controller="History" asp-action="Index" class="dropdown-item">Historie</a></li>

					</ul>
				</div>
			}
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutMe">O&nbsp;mě</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Guidance">Návod</a>
					</li>
					@if (User?.Identity is not null&&User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Index">Rezervace</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Seznam rezervací</a>
						</li>
						@if (User.Identity.IsAuthenticated&&(User.IsInRole("Admin")))
						{
							<div class="dropdown">
								<button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									ADMIN
								</button>
								<ul class="dropdown-menu">
									<li class="dropdown-item">
										<a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Nastavení</a>
									</li>
									<li class="dropdown-item">
										<a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Seznam rolí</a>
									</li>
									<li class="dropdown-item">
										<a class="nav-link text-dark" asp-area="" asp-controller="MassEmail" asp-action="Index">Hromadný email</a>
									</li>
								</ul>
							</div>



						}
					}
				</ul>
				@if (User?.Identity?.IsAuthenticated??false)
				{
					var user = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
					var fullName = $"{user.FirstName} {user.LastName}";
					var credit = $"Kredit: {user.Credit}Kč ";
					<div class="d-flex">
						<div class="dropdown">
							<button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								@credit
							</button>
							<ul class="dropdown-menu">
								<li><a asp-controller="Credit" asp-action="Index" class="dropdown-item">Dobít kredit</a></li>
								<li><a asp-controller="History" asp-action="Index" class="dropdown-item">Historie</a></li>

							</ul>
						</div>
						@* <a asp-controller="Credit" asp-action="Index" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">@credit</a> *@
					</div>
					<div class="d-flex">
						<a asp-controller="Users" asp-action="Index" class="btn btn-success">Účet: @fullName</a>
					</div>
					<div class="d-flex">
						<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Odhlášení</a>
					</div>

				}
			</div>
		</div>
	</nav>


	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container opacity-50  text-white ">
			<div class="d-flex flex-column mb-2">

				<span class=" ">&copy; 2024 <a class="text-white" href="https://pavel-tichy.cz/" target="_blank" rel="noopener noreferrer">Pavel Tichý</a></span>
				<sup  >Tento web používá pouze technické cookies</sup>

			</div>

		</div>

	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>



	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
